# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Fastapi / Uvicorn logs
*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Machine Learning models & data
*.joblib
*.pkl
*.h5
*.hdf5
*.pt
*.pth
*.csv
*.json

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
